<div class="col-md-4">
	<h4><%= @auction.title %></h4>

	<%= bootstrap_form_tag url: send_bid_path(@auction) do |f| %>                  
	  <br>	  
    <% if @auction.opened %>
    <div class="actions" id="bid-options">
      <div class="field">
        <%= f.number_field :bid %>          
      </div> 
    	 <%= f.submit "Send new bid"%> 
        <button class="btn btn-default pull-right lowest-bid" id="info" type="button">Lowest bid <span class="badge"><%= @auction.lowest_bid %></span>
        </button>
    </div> 
              
    <% end %>   
    <div id="results-supplier"> </div>  
  
	<% end %>
	
</div>
<div class="col-md-7">
    <div id="countdown"></div>
</div>