<%= bootstrap_form_for(@rfp) do |f| %>
	<fieldset>
	<legend>Edit RFP</legend>
    
	<div class="col-md-4 inline floatnone valign-t">
	    		   
		   	<%= f.text_field :title %>			   
		    <%= f.text_area :description %>	    		    
		    <%= f.select :category, ['Office Consumables', 'Utilities', 'Capital Goods', 'Facilities', 'Construction and Engineering', 'Metals and Minings'] %>
	    
	</div>
	<div class="col-md-8 inline floatnone valign-t">    
	    <h5>Questions</h5>
	    <ul style="list-style-type:circle">
		    <% Question.all.each_with_index do |question, index| %>
			    <div class="field">
			        <li>
			        <%= label_tag question.text %> 
			        <%= check_box_tag("questions[#{question.id}]", question.id, @rfp.questions.include?(question)) %></li>
			    </div>      
			<% end %>	    
	    </ul>
	 	<br>
	 	<%= f.submit 'Save changes' %>
	</div> 
	</fieldset>
  <% end %>