
<%= bootstrap_form_for(@rfp) do |f| %>
	<fieldset>
	<legend>Create new RFP</legend>
    
	<div class="col-md-4 inline floatnone valign-t">	  
		   		   
		   	<%= f.text_field :title, :class => "form-control",  :required => true %>		
		    <%= f.text_area :description,  :required => true %>	    
		    <%= f.select :category, ['Office Consumables', 'Utilities', 'Capital Goods', 'Facilities', 'Construction and Engineering', 'Metals and Minings'] %>
	    <br>
	</div>
	<div class="col-md-8 inline floatnone valign-t">    
	    <h5>Questions</h5>
	    <ul style="list-style-type:circle">
		    <% Question.all.each_with_index do |question, index| %>
			    <div class="field">
			        <li><%= label_tag question.text %> <%= check_box_tag("questions[#{question.id}]", question.id) %></li>
			    </div>      
			<% end %>	    
	    </ul>
	 	<br>
	 	<%= f.submit 'Create RFP', class: "btn btn-default" %>

    <% if flash[:alert] %>
        <h5><strong><%= flash[:alert] %></strong></h5>
    <% end %>

	</div> 
	</fieldset>
  <% end %>